footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icon,.ff {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color:rgb(10, 146, 173);
}


.footer-info p {
    margin: 0;
}

.footer-info a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-info a:hover {
    color: #ffd700;
}