nav {
    /* background: #bdc3c7; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #626669, #bdc3c7); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #15212d, pink); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: rgb(106, 97, 101); */
  
    background: linear-gradient(90deg, rgb(93, 87, 89) 0%, rgb(222, 238, 237) 100%);
    
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    position: sticky;
    font-size:x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 0;
    z-index: 1000;
}

.font1{
    /* font-family:italic ; */
    /* font-family:cursive ; */
    font-family:Forte ;
    color:orangered;
    font-size:x-large;
}
/* ARCHITECT name */

.font2{
    font-family: Cooper;
      
    font-weight:bold;
    font-size: x-large;
    color:orangered;
}

.logo {
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0px 30px;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}
.login-btn  a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}
.signup-btn  a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}


.nav-links li a:hover {
    color: black;
}

.auth-buttons {
    display: flex;
}

.login-btn,
.signup-btn {
    padding: 8px 16px;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    background-color: #5d645d;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.login-btn:hover,
.signup-btn:hover {
    background-color: #45a049;
}